<template>
    <lightning-card style="background:azure">
        <div class="backdrop" if:true={showSpinner}>
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
        <div class="slds-var-m-around_medium">

                       
            <Lightning-input class="input" type="text" label="Receiver Address" name="receiverAddress"
                value={obj.receiverAddress} onchange={handleChange}
                pattern="^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,20})+$" required>
            </Lightning-input>

            <Lightning-input class="input" type="text" label="Sender Name" name="senderName" value={obj.senderName}
                onchange={handleChange} required>
            </Lightning-input>

            <Lightning-input class="input" type="text" label="CC Address(Optional)" name="ccAddress"
                value={obj.ccAddress} onchange={handleChange}>
            </Lightning-input>

            <Lightning-input class="input" type="text" label="Email Subject" name="subject" value={obj.subject}
                onchange={handleChange} required>
            </Lightning-input>           

            <Lightning-input style="height:20vh;" class="input" type="text" label="Body" name="Body" value={obj.Body} onchange={handleChange}
                required>
            </Lightning-input>

            <lightning-button class="slds-m-top_" onclick={sendEmail} label="Send Email"></lightning-button>
        </div>
    </lightning-card>
</template>